body
{
   background-color: hsl(71.4,23.3%,64.7%);
   color: hsl(197.1,6.7%,20.6%);
   background-image: url('');
   background-size: cover;
   font-family: 'Montserrat', sans-serif;
   font-family: 'VT323';

    height: 100vh;
    padding:0;
    margin:0;
}

h1
{
    text-align: center;
    padding: 25pc;
    font-size: 4pc;
}
a
{
    text-align: center;
}