*
{
    margin: 0;
    padding: 0;
}

body /* alt tekst inde for body har den her farve.*/
{
    background-color: hsl(0,0%,100%);
    font-family: 'Work Sans';
    font-weight: 400;
    line-height: 1.8rem;
    font-family: 'Comfortaa', cursive;
}

body header, body footer
{
 text-transform: capitalize;
 height: 50px;
 text-align: center;
 line-height: 50px;
}

body main
{
    width: 1000px;
    margin: 0 auto
}

.headquote
{
    background-color: hsla(0, 0%, 0%, 0.1);
    margin: 0.5rem 0rem;
    padding: 0.3rem;
    font-style: italic;
    font-size: 20px;
    border: 0px;
    border-left: 2px;
    border-left-color: gray;
    border-style: solid;
}
.headquote p
{
margin: 1rem 0rem;
}
.quote
{
    margin: 1rem 0rem;
    padding: 1rem;
    font-style: italic;
    border: 0px;
    border-left: 1px;
    border-left-color: gray;
    border-style: solid;
}
.quote p
{
    margin: 1rem 0rem;
}
nav /* baggrunden af navigation bliver lavet til den her farve.*/
{
    background-color: hsl(238.2,24.8%,26.1%);
}

nav ul
{
    list-style-type: none;
    
}
nav ul li
{
    display: inline-block;
    padding: 0 5%;
}
nav ul li:hover
{
    background-color: hsl(226,40.7%,50.4%);
}

nav li a /*alle links under <nav>-taget har den her farve og har ingen understreg*/
{
    color: hsl(203.6,100%,78%);
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    
}

form
{
   text-align: center;
   
}
input
{
    padding-right: 10px;
    outline-color: hsl(226,40.7%,50.4%);
    text-decoration: none;
    font-size: 16px;
    font-family: monospace;
    border-color: hsl(238.2,24.8%,26.1%);
}
.konlab
{
    display: inline-block; 
    width: 120px;
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
  
}
.spam-ha-hun
{
    display: inline-block; 
    width: 100px;
    vertical-align: top;
    background-color: hsl(238.2,24.8%,26.1%);
    color: hsl(203.6,100%,78%);
    border: solid;
    border-color: hsl(203.6,100%,78%);
}
.spam-ha-hun:hover
{
    background-color:  hsl(226,40.7%,50.4%);
}
.konsub
{
    width: 7rem;
    height: 2.5rem;
    background-color: hsl(238.2,24.8%,26.1%);
    color: hsl(203.6,100%,78%);
    text-decoration: none;
    font-size: 20px;
    font-family: monospace;
    border: solid;
    border-color: hsl(203.6,100%,78%);
}
.konsub:hover
{
 background-color:  hsl(226,40.7%,50.4%);
}
.it-go-down
{
    padding-top: 2pc;
}
textarea
{
    width: 500px;
    height: 250px;
    outline-color: hsl(226,40.7%,50.4%);
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    border-color: hsl(238.2,24.8%,26.1%);
}

option, select
{
    width: 170px;
    height: 25px;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    border-color: hsl(238.2,24.8%,26.1%);
}
a 
{
    color: hsl(17.9,89.5%,62.5%);
    text-decoration: none;
} 
img
{
    min-width: 300px;
    padding-left: 35%;
    border-radius: 10px;
}
h1,h2,h3 /*gøre at h1 h2 h3 er den farve.. brugte h3 i stedet for h2 til nogle overtekster.*/
{
    color: hsl(295.4,16%,15.9%);
    line-height: 4rem;
    margin: 20px 0;
    font-family: 'overpass'
}
h1
{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}
h2
{
    font-size: 2rem;
    font-weight: 600;
}
h3
{
    font-size: 1,5rem;
    font-weight: 600;
}
p
{
    color: hsl(271.8,13.8%,24.1%);
    margin-bottom: 40px; 
}

ul /*gøre af dutterne ud fra listen er en vise farve*/
{
    color:hsl(312.9,25.5%,21.6%);
    list-style-position: inside;
    margin-bottom: 40px;
}
