body /* alt tekst inde for body har den her farve.*/
{
    color: hsl(180, 25%, 25%);
}
nav /* baggrunden af navigation bliver lavet til den her farve.*/
{
    background-color: hsl(240, 64%, 27%);
}
nav a /*alle links under <nav>-taget har den her farve og har ingen understreg*/
{
    color: hsl(150, 100%, 98%);
    text-decoration: none;
}
h1,h2,h3 /*gøre at h1 h2 h3 er den farve.. brugte h3 i stedet for h2 til nogle overtekster.*/
{
    color: hsl(240, 64%, 27%);
}
ul /*gøre af dutterne ud fra listen er en vise farve*/
{
    color:hsl(207, 44%, 49%);
}
